@import '../style/typo.scss';
@import '../style/layout.scss';

.filter {
  @media (min-width: $bp-medium) {
    width: 26rem;
    flex: 0 0 26rem;
    margin-right: $space-small;
  }
}

.filter__toggle-button {
  display: block;
  width: 100%;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  padding: $space-small;
  cursor: pointer;
  text-align: left;

  @media (min-width: $bp-medium) {
    display: none;
    visibility: hidden;
  }
}

.filter__content {
  display: none;
  margin: $space-small 0;

  @media (min-width: $bp-medium) {
    display: block;
  }
}

.filter__content--visible {
  display: block;
}

.filter__check-category {
  display: block;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
}

.filter__text-label,
.filter__text-input {
  display: block;
  width: 100%;
}

.filter__price-field {
  display: flex;
}
