@import '../style/layout.scss';

.results {
  list-style: none;
  padding: 0;

  @media (min-width: $bp-medium) {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $space-small;
    row-gap: $space-small;
  }
}
