@import '../style/layout.scss';
@import '../style/colors.scss';

.footer {
  padding: $space-small;
  background-color: $brick-dark-blue;
  color: $brick-white;

  @media (min-width: $bp-medium) {
    max-width: 920px;
    margin: auto;
  }
}
